# Project rules
*.o
gmenu2x

# Top-level rules
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
#	src/.deps/
#	src/Makefile
#	src/Makefile.in
/build*/
CMakeCache.txt
buildopts.h
cmake_install.cmake
